name: test			#name:ワークフローの名前
on: push			#on:いつこのワークフローを走らせる
jobs: 				#走らせたい処理(ジョブ)のリスト
 tset:				#testというジョブを作る
  runs-on: ubuntu-latest	#どの環境で動かすか
  steps:			#手続きの記述
  - uses: action/checkout@v3	#https://github.com/actions/checkoutの
  - name: All test		#このジョブの名前
    run: bash -xv ./test.bash	#テストのシェルスクリプト
